<!DOCTYPE html>
<html lang="en" data-ng-app="ContactApp">
<head>
    <meta charset="UTF-8">
    <title>TD2 Exercice 2</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/filter.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-controller="ContactController as contactCtrl">

<div class="form-group">
    <input data-ng-model="contactCtrl.filtre" type="text" class="form-control" id="exampleInputEmail1" placeholder="Filter">
</div>

<table class="table table-striped">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th colspan="2">Actions</th>
    </tr>

    <tr data-ng-repeat="contact in contactCtrl.contacts | notDeleted | filter:contactCtrl.filtre as count" contact-elem contact="contact" delete="contactCtrl.delete(contact)" update="contactCtrl.toUpdate(contact)"></tr>
</table>

<button type="button" data-ng-click="contactCtrl.toAdd()" class="btn btn-primary">Ajouter un contact</button>
<button type="button" data-ng-show="contactCtrl.contacts.length-contactCtrl.countContact() > 0" data-ng-click="contactCtrl.cancel()" class="btn btn-danger">Annuler la suppression ({{contactCtrl.contacts.length-contactCtrl.countContact()}})</button>

<br><br>
<ng-pluralize count="count.length"
              when="{'0': 'Aucun résultat','1': '1 contact trouvé','other': '{} contacts trouvés'}">
</ng-pluralize>
<br><br>

<form class="form-inline" data-ng-show="contactCtrl.edit == true" frm-contact tmpcontact="contactCtrl.tmpContact" operation="contactCtrl.operation" update="contactCtrl.update()" edit="contactCtrl.edit"></form>

</body>
</html>