body {
    margin-left: 10%;
    margin-right: 10%;
}

.dispoItems {
    float: left;
}

select {
    width: 470px;
}

.includedItems {
    margin-top: 3%;
}

.allButtons {
    float: left;
    padding: 2%;
    margin-top: 4%;
}

button {
    margin: 10%;
}